body {
   font-family:cursive;
   background-color: #F0F0F0;
   font-color: #B9B9B9;
}

.headtitle {
   border: solid 1px #404040;
   border-radius: 5px;
   box-shadow: 7px 7px 5px #888888;
   text-align:center;
   padding-left: 5px;
   font-size:2em;
   color: #D0D0D0;
   background-color: #404040;
   font-family:serif;
   font-style:italic;
   margin-bottom: 15px;
}

h1 {
   text-align:center;    
}

.date {
   font-size: 0.6em;
   font-style:italic;
   margin-top: -1em;
}

.panel {
   width: 100%;
   text-align:right;
}

a {
   color: #0000D0;
   text-decoration: none;
}

.phaseTable {
   text-align:center;
   border: solid 1px gray;
   border-collapse:collapse;
   margin: auto;
}

.phaseTable th {
   border: solid 1px gray;
   padding-left: 0.4em;
   padding-right: 0.4em;
}

.fileTable {
   text-align:center;
   border: solid 1px gray;
   border-collapse:collapse;
   margin: auto;
}

.fileTable th {
   border: solid 1px gray;
   padding-left: 0.4em;
   padding-right: 0.4em;
}

.logtable {
   text-align:center;
   border: solid 1px gray;
   margin:auto;
}

.logtable td, th {
   vertical-align:top;
}

.logTableMessage {
   text-align:left;
}

.logTableMessage pre {
   margin: 0px;
   background-color:transparent;
}

.err {
   background-color: rgba(255,0,0,0.2)
}

.lineNumbers {
   width:2em;
}

.dynflags {
   margin:auto;
   text-align:center;
}

.dynflags table {
   margin:auto;
}

h2 {
   text-align:center;
}

h3 {
   text-align:center;
}

.selectedItem {
   background-color:#C0C0FF;
}

.boxTitle {
   font-weight: 900;
}

.box {
   margin-bottom:1em;
}
